.vs/

RankStay_Web/.vs/
RankStay_API/.vs/

RankStay_Web/RankStay_Web/bin/
RankStay_Web/RankStay_Web/obj/

RankStay_API/RankStay_API/bin/
RankStay_API/RankStay_API/obj/

RankStay_Web/RankStay_Web/.vscode/
RankStay_Web/RankStay_Web/.vscode/

RankStay_API/RankStay_API/.vscode/
RankStay_API/RankStay_API/.vscode/