﻿@{
    int UserRole = Convert.ToInt32(Context.Session.GetString("UserRole"));
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>RankStay</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="/favicon.ico" rel="icon">

    @*modal
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">*@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @*modal*@

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@500;700&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-primary text-white d-none d-lg-flex">
        <div class="container py-3">
            <div class="d-flex align-items-center">
                <h2>
                    <a asp-action="Index" asp-controller="Home" class="text-white fw-bold m-0">RankStay</a>
                </h2>
                <div class="ms-auto d-flex align-items-center">
                    <small class="ms-4"><i class="fa fa-map-marker-alt me-3"></i>10109 Rohrmoser, San José, CR</small>
                    <small class="ms-4"><i class="fa fa-envelope me-3"></i>info@rankstay.com</small>
                    <small class="ms-4"><i class="fa fa-phone-alt me-3"></i>+506 2231 67890</small>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid bg-white sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light p-lg-0">
                <a asp-action="Index" asp-controller="Home" class="navbar-brand d-lg-none">
                    <h1 class="fw-bold m-0">RankStay</h1>
                </a>
                <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a asp-action="Index" asp-controller="Home" class="nav-item nav-link active">Inicio</a>
                        <a asp-action="About" asp-controller="Nav" class="nav-item nav-link">Nosotros</a>
                        <a asp-action="Services" asp-controller="Nav" class="nav-item nav-link">Servicios</a>
                        <a asp-action="Projects" asp-controller="Nav" class="nav-item nav-link">Proyectos</a>
                        @if (UserRole == 1)
                        {
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin</a>
                                <div class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                                    <a asp-action="Users" asp-controller="User" class="dropdown-item">Usuarios</a>
                                    <a asp-action="Provinces" asp-controller="Province" class="dropdown-item">Provincias</a>
                                    <a asp-action="Reviews" asp-controller="Review" class="dropdown-item">Reseñas</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="ms-auto d-none d-lg-block">
                        <a asp-action="Login" asp-controller="Auth" class="btn btn-primary rounded-pill py-2 px-3">Salir</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    @RenderBody()

    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Nuestra oficina</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>10109 Rohrmoser, San José, CR</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+506 2231 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@rankstay.com</p>
                    <div class="d-flex pt-3">
                        <a class="btn btn-square btn-light rounded-circle me-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-square btn-light rounded-circle me-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-square btn-light rounded-circle me-2" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a class="btn btn-square btn-light rounded-circle me-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Enlaces rápidos</h4>
                    <a class="btn btn-link" href="">Nosotros</a>
                    <a class="btn btn-link" href="">Contacto</a>
                    <a class="btn btn-link" href="">Servicios</a>
                    <a class="btn btn-link" href="">Términos y condiciones</a>
                    <a class="btn btn-link" href="">Ayuda</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Horarios</h4>
                    <p class="mb-1">Lunes - Viernes</p>
                    <h6 class="text-light">09:00 am - 07:00 pm</h6>
                    <p class="mb-1">Sábado</p>
                    <h6 class="text-light">09:00 am - 12:00 pm</h6>
                    <p class="mb-1">Domingo</p>
                    <h6 class="text-light">Cerrado</h6>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Boletín</h4>
                    <p>Subscríbete a nuestro boletín de noticias</p>
                    <div class="position-relative w-100">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text"
                               placeholder="Tu correo">
                        <button type="button"
                                class="btn btn-light py-2 position-absolute top-0 end-0 mt-2 me-2">
                            Subscribirse
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="fw-medium text-light" href="#">RankStay</a>, Derechos Reservados.
                </div>
                <div class="col-md-6 text-center text-md-end">
                   ___________
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top">
        <i class="bi bi-arrow-up"></i>
    </a>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/modals.js"></script>

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script type="text/javascript">
        $(document).ready(function () {
            let table = new DataTable('#Table', {
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
                },
            });
        });
    </script>
</body>
</html>