<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium text-primary">Únete a nosotros</p>
            <h1 class="display-5 mb-5">Las ventajas de formar parte de RankStay</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item position-relative h-100">
                    <div class="service-text rounded p-5">
                        <div class="btn-square bg-light rounded-circle mx-auto mb-4"
                             style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="img/icon/icon-5.png" alt="Icon">
                        </div>
                        <h5 class="mb-3">
                            Opiniones reales
                        </h5>
                        <p class="mb-0">
                            Nos aseguramos que las calificaciones que lees son de personas reales
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item position-relative h-100">
                    <div class="service-text rounded p-5">
                        <div class="btn-square bg-light rounded-circle mx-auto mb-4"
                             style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="img/icon/icon-6.png" alt="Icon">
                        </div>
                        <h5 class="mb-3">
                            Perspectiva amplia
                        </h5>
                        <p class="mb-0">
                            Podrás ver las diferentes experiencias de las personas y escoger con seguridad
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item position-relative h-100">
                    <div class="service-text rounded p-5">
                        <div class="btn-square bg-light rounded-circle mx-auto mb-4"
                             style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="img/icon/icon-7.png" alt="Icon">
                        </div>
                        <h5 class="mb-3">
                            Contenido variado
                        </h5>
                        <p class="mb-0">
                            Estamos en constante crecimiento en nuestras redes sociales
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->