<!-- About Start -->
<div class="row container-xxl about my-5">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6">
                <div class="h-100 d-flex align-items-center justify-content-center" style="min-height: 300px;">
                </div>
            </div>
            <div class="col-lg-6 pt-lg-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-white rounded-top p-5 mt-lg-5">
                    <p class="fs-5 fw-medium text-primary">Sobre nosotros</p>
                    <h1 class="display-6 mb-4">La Mejor Fuente para Escoger tu Próxima Vivienda</h1>
                    <p class="mb-4">
                        En RankStay puedes calificar agregar las residencias en las que has vivido y
                        calificar para ayudar a los demás a facilitar la búsqueda de su próximo hogar.
                    </p>
                    <div class="row g-5 pt-2 mb-5">
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="img/icon/icon-5.png" alt="">
                            <h5 class="mb-3">Información</h5>
                            <span>Podrás ver las diferentes opciones, escoge la que más te convenga</span>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="img/icon/icon-2.png" alt="">
                            <h5 class="mb-3">Comunidad</h5>
                            <span>Ayuda a los demás a encontrar su hogar ideal</span>
                        </div>
                    </div>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->